.first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(146, 146, 146);
}
.second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(160, 160, 160);
}
.second-button {
  width: 8vw;
  padding: 10px;
  font-weight: bolder;
  margin-left: 10px;
  background-color: white;
  cursor: pointer;
}

.third {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(121, 121, 121);
}
.third-select {
  margin-left: 10px;
  width: 15vw;
  height: 30px;
}
.third-box1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-box2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-box3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}
.box1 {
  padding: 20px;
}
.box1-title {
  width: 100px;
  margin-bottom: 10px;
  background-color: rgb(219, 219, 219);
  font-weight: bolder;
}
.box2 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 40vw;
  justify-content: end;
}

.box2-line {
  display: flex;
  justify-content: space-between;
}

.box2-title {
  width: 150px;
  margin-bottom: 10px;
  background-color: rgb(219, 219, 219);
  font-weight: bolder;
}

.user-information {
  padding-top: 10px;
  height: 64vh;
  background-color: #ffffff;
  border-radius: 10px;
  background-color: #ddd;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3vw;
  margin-bottom: 10px;
}
.user-input {
  padding: 7px;
  width: 300px;

  margin-right: 3vw;
}
.user-select {
  padding: 7px;
  width: 318px;

  margin-right: 3vw;
}

/* 테이블 */
.table-container {
  width: 50vw;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed;
}

.table-container tbody {
  max-height: 65vh;
  width: 50vw;
  overflow-y: auto;
  display: block;
}

.table-container td {
  border: 1px #ddd;
  padding: 8px;
  text-align: left;
  height: 10px;
  width: 50vw;
  text-align: center;
}

.table-container tr {
  height: 40px; /* 원하는 높이로 조절하세요 */
}

.table-container th {
  background-color: #f2f2f2;
  height: 40px; /* 원하는 높이로 조절하세요 */
}

.table-container tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table-container tr:nth-child(even) {
  background-color: #ffffff;
}

.btn {
  margin-bottom: 10px;
  width: 20%;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

&.active {
  background-color: lightblue;
}
